@charset "utf-8";

#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin-bottom: 40px;
}

#body {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size:12pt;
    text-align:justify;
}

#footer {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-top: thin solid #DDDDDD;
    font-family: Courier;
    font-size: 7.5pt;
    text-align: right;
    color: #AAAAAA;
}

header {
    border-bottom: thin solid #DDDDDD;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    float: left;
}

nav a {
    display: block;
    width: 192px;
    font-weight: bolder;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}
nav a:link {
    color: #000000;
    background-color: #FAFAFA;
    border-bottom: thin solid #DDDDDD;
}
nav a:visited {
    color: #000000;
    background-color: #FAFAFA;
    border-bottom: thin solid #DDDDDD;
}
nav a.this {
    color: #FFCC99;
    background-color: #FAFAFA;
    border-bottom: thin solid #DDDDDD;
}
nav a:hover {
    color: #FFCC99;
    background-color: #FAFAFA;
    border-bottom: thin solid #DDDDDD;
}
nav a:active {
    color: #FFCC99;
    background-color: #FAFAFA;
    border-bottom: thin solid #DDDDDD;
}

img {
    border-style: none;
}

p.highlight {
    text-align:center;
    font-weight:bold;
}

p.quote {
    font-style: italic;
    text-indent: 20px;
}

p.quoteauthor {
    font-style: italic;
    font-size: 8pt;
    text-align: right;
}

p.serviceexample {
    text-align: right;
    border: thin solid #DDDDDD;
    padding: 4px;
    background-color: #FAFAFA;
}

/* Copyright 2015 XMW Consulting Ltd. */
