<footer> 
    <div class="footer-flex">
        <div style="flex-basis: 25%; text-align: left">
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-fw"></i></a>                
                <a href="http://www.github.com/{{ site.github-username }}"><i class="fa fa-github fa-fw"></i></a>
                <a href="http://www.linkedin.com/in/{{ site.linkedin-username }}"><i class="fa fa-linkedin fa-fw"></i></a>
                <a href="http://stackoverflow.com/users/{{ site.so-userid }}/{{ site.so-username }}?tab=profile"><i class="fa fa-stack-overflow fa-fw"></i></a>
        </div>
        <div style="flex-basis: 75%; text-align: right">
            &copy; Copyright 2017 XMW Consulting Ltd.<br>MathWorks and MATLAB are 
            registered trademarks of The MathWorks, Inc. 
        </div>
    </div>
</footer> 
